footer {
    background: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    position: absolute;
    position: static;
    padding: 10px;
}

footer > p,
footer > h2 {
    color: white;
}