#index > section  {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#a-propos {
    width: 70%;
    margin: 20px auto;
}

#a-propos > p {
    padding-left: 20px;
    padding-top: 20px;
}

#index > section > p {
    width: 70%;
}

#index > section > section {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#index > section > section > article > p {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #a-propos {
        padding-top: 100px;
    }
}