#terrain-vert {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: none;
}

#reservation {
    height: 100%;
    padding-bottom: 50px;
}

.formReservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
    padding: 50px;
}

.formReservation > form > h2,
.formReservation > form > p > a,
.formReservation > form > p,
.formReservation > form > div > label,
.formReservation > form > button {
    color: white;
}

.formReservation > form {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--VertPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(9, 58, 3, 0.644);
}

.formReservation > form > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.formReservation > form > button {
    background: white;
    color: var(--VertPrincipal);
    padding: 10px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    border: none;
    font-size: 1.2em;
}

.formReservation > form > button:hover {
    color: white;
    background: var(--VertPrincipal);
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
}

.formReservation > form > div:hover {
    border-right: solid 2px var(--VertPrincipal);
    border-left: solid 2px var(--VertPrincipal);
}

.formReservation > form > figure {
    display: none;
}
@media screen and (max-width: 700px) {

    .formReservation > form {
        width: 100%;
    }

    .formReservation > form > h2 + h2 + p + p > a {
        background: none;
    }
    
}